<div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
    <img class="w-full h-48 object-contain" [ngSrc]="product().image" width="32" height="32" loading="lazy" alt="{{product().title}}">
    <div class="px-6 py-4">
      <h3 class="font-bold text-xl mb-2">{{product().title}}</h3>
      <p class="text-gray-700 text-base mb-4">${{product().price}}</p>
      <p class="text-green-600 font-medium" [class]="product().stock ? 'text-green-500' : 'text-red-500'">
       @if (product().stock) {
        {{product().stock}} Left
       }@else {
        Out of Stock
       }
       </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <app-primary-button label="Add To Cart" (btnClicked)="handleButtonClicked(product())"/>
    </div>
  </div>
  